    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
        transition: ease-in 0.8;
    }
    /* 
 Mobile View 
- Navigation - 
*/
    
    .page-wrapper {
        width: 100%;
    }
    
    .navbar {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        top: 0;
        padding: 10px 10px;
        z-index: 1;
        transition: .3s linear;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #ffffff;
    }
    
    .navbar p:nth-child(2) {
        padding-right: 2.5rem;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .navbar .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    
    .navbar .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 50px;
        height: 30px;
        margin: 5px 5px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* Hamburger line */
    
    .navbar .hamburger>div {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.7s ease;
    }
    /* Top and bottom lines */
    
    .navbar .hamburger>div:before,
    .navbar .hamburger>div:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -6px;
        width: 100%;
        height: 3px;
        background-color: inherit;
    }
    /* Moves line down */
    
    .navbar .hamburger>div:after {
        top: 6px;
    }
    /* Toggler animate */
    
    .navbar .toggler:checked+.hamburger>div {
        transform: rotate(135deg);
    }
    /* Turn lines into X */
    
    .navbar .toggler:checked+.hamburger>div:before,
    .navbar .toggler:checked+.hamburger>div:after {
        top: 0;
        transform: rotate(90deg);
    }
    /* Rotate on hover when checked */
    
    .navbar .toggler:checked:hover+.hamburger>div {
        transform: rotate(225deg);
    }
    
    .navbar .toggler:hover+.hamburger>div {
        background-color: #0073b1;
    }
    /* .navbar .inner-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
} */
    /* 
.navbar .inner-width p:nth-child(1) {
    margin: 0 0 0 15px;
    padding: 10px 0;
} */
    /* Show menu */
    
    .navbar .toggler:checked~.menu {
        visibility: visible;
        transition: all .75s ease;
    }
    
    .navbar .toggler:checked~.menu>div {
        transform: scale(1);
        transition-duration: 0.75s;
    }
    
    .navbar .toggler:checked~.menu>div>div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    
    .navbar .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    
    .navbar .menu>div {
        background: rgba(53, 59, 72, 0.90);
        border-radius: 50%;
        width: 210vw;
        height: 210vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .navbar .menu>div>div {
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .navbar .nav-link {
        display: block;
        width: 100%;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        padding: 20px 0;
        transition: color 0.4s ease;
        text-transform: uppercase;
    }
    
    .menu .nav-link i {
        padding-right: 15px;
    }
    
    .active {
        font-weight: bold;
        color: #3369ff;
    }
    
    .menu .nav-link:hover {
        color: #0073b1;
    }
    /* End of Navigation */
    /* 
      Landing page 
- Background Animation -
*/
    
    #welcome-section {
        background: #444;
        width: 100%;
        height: 100vh;
    }
    
    .inner-width {
        max-width: 1300px;
        margin: auto;
    }
    
    .box-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .box-area li {
        position: absolute;
        display: block;
        list-style: none;
        width: 25px;
        height: 25px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 20s linear infinite;
        bottom: -150px;
    }
    /* Individual List Items and attributes */
    
    .box-area li:nth-child(1) {
        left: 86%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    
    .box-area li:nth-child(2) {
        left: 12%;
        width: 30px;
        height: 30px;
        animation-delay: 1.5s;
        animation-duration: 10s;
    }
    
    .box-area li:nth-child(3) {
        left: 70%;
        width: 100px;
        height: 100px;
        animation-delay: 5.5s;
    }
    
    .box-area li:nth-child(4) {
        left: 70%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 15s;
    }
    
    .box-area li:nth-child(5) {
        left: 65%;
        width: 40px;
        height: 40px;
        animation-delay: 0s;
    }
    
    .box-area li:nth-child(6) {
        left: 15%;
        width: 110px;
        height: 110px;
        animation-delay: 3.5s;
    }
    /* End of List Items and attributes */
    
    @keyframes animate {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }
        100% {
            transform: translateY(-800px) rotate(360deg);
            opacity: 0;
        }
    }
    /* Main Content - Landing Page */
    
    #welcome-section .inner-width .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        text-align: center;
        width: 100%;
        color: #fff;
    }
    
    #welcome-section .inner-width p:nth-child(1) {
        font-weight: bold;
        font-size: 22px;
        margin-top: 80px;
    }
    
    #welcome-section .inner-width p:nth-child(2) {
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 50px;
    }
    
    #welcome-section .inner-width p:nth-child(3) {
        font-size: 30px;
    }
    
    #welcome-section .inner-width p {
        margin: 10px 0px 5px;
    }
    
    #welcome-section .content .inspirational-quote {
        padding: 0 20px;
    }
    
    .welcome-section-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .welcome-section-links a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 10px 10px;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 500;
    }
    
    .welcome-section-links i {
        color: #ffffff;
    }
    
    .welcome-section-links a:hover {
        background-color: #000000;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        transition: all ease 0.5s;
    }
    
    .welcome-section-links a:hover:nth-child(2) {
        background-color: #0073b1;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        transition: all ease 0.5s;
    }
    
    .welcome-section-links a:hover i {
        color: #ffffff;
        transition: all ease 0.5s;
    }
    /* #welcome-section .buttons {
        margin-top: 10px;
    } */
    
    #welcome-section .buttons a {
        display: inline-block;
        margin: 15px 30px;
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        width: 180px;
        padding: 14px 0;
        border-radius: 6px;
        transition: .2s linear;
        cursor: pointer;
        background-color: #ffffff;
    }
    /* ,#welcome-section .buttons a:nth-child(2)  */
    
    #welcome-section .buttons a:hover {
        background-color: #0073b1;
        color: #fff;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    /* About Section */
    
    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        background: linear-gradient(to left, #3d3d3d, #444444);
        /* background: #444; */
        color: white;
    }
    
    #about .about-container h1 {
        margin: 40px 40px 20px;
    }
    
    #about .about-container .background-container {
        margin: 20px 20px 40px;
    }
    
    #about .about-container .background-container p {
        margin: 25px 20px;
    }
    /* Portfolio Section */
    
    #portfolio {
        /* background: #4b4b4b; */
        background: #444;
    }
    
    #portfolio,
    #portfolio .project-container .project-tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    
    #portfolio h2,
    #portfolio p {
        margin: 25px 20px 0px;
        color: #fff;
        text-align: center;
    }
    
    .project-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 40px 20px 10px;
        width: 100%;
    }
    
    .project-container .project-tile h3 {
        color: #fff;
        margin-bottom: 30px;
    }
    
    .project-container .project-tile h3 span {
        display: block;
        text-align: center;
    }
    
    .project-container .project-tile img {
        margin: 10px auto;
        width: 65%;
        border-radius: 20px;
        transition: transform .7s;
    }
    
    .project-container .project-tile img:hover {
        transform: scale(1.08);
    }
    
    .project-container .project-tile .project-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 30px 20px 20px;
    }
    
    .project-container .project-tile .code,
    .project-container .project-tile .demo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 15px 20px;
        padding: 14px 20px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #000000;
        border-radius: 6px;
        transition: .2s linear;
        cursor: pointer;
        background-color: #ffffff;
    }
    
    .project-container .project-tile .code i,
    .project-container .project-tile .demo i {
        padding-left: 15px;
        font-size: 14px;
    }
    
    .project-container .project-tile .code:hover,
    .project-container .project-tile .demo:hover {
        background-color: #0073b1;
        color: #fff;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    /* - Contact me Section - */
    
    #contact {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(to left, #3d3d3d, #444444);
    }
    
    #contact h2 {
        color: #fff;
        margin-bottom: 20px;
    }
    /* Form Container */
    
    form {
        width: 90%;
        padding: 20px 20px 40px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        /* box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7); */
    }
    
    .input-wrapper {
        width: 100%;
        height: 60px;
        position: relative;
        overflow: hidden;
    }
    
    .input-wrapper input {
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 15px;
        color: whitesmoke;
        line-height: 1.2px;
        padding: 25px 0 0;
        outline: none;
        border: none;
    }
    
    .input-wrapper label {
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        color: #fff;
        border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    }
    
    .input-wrapper label::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: -1px;
        bottom: -2px;
        border-bottom: 2px solid #0073b1;
        transform: translateX(-100%);
        transition: all .6s ease;
    }
    
    .input-wrapper label span {
        position: absolute;
        bottom: 0px;
        left: 0px;
        transition: all .6s ease;
    }
    
    .input-wrapper input:focus+label span,
    .input-wrapper input:valid+label span {
        transform: translateY(-30px);
        transition: all .6s ease;
        color: #fff;
    }
    
    .input-wrapper input:focus+label::after,
    .input-wrapper input:focus+label::after {
        transform: translateX(0%);
        transform: all .6s ease;
    }
    /* button styling */
    
    .btn-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px auto 0;
        padding: 14px 20px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #000000;
        border: none;
        border-radius: 6px;
        transition: .2s linear;
        cursor: pointer;
        background-color: #ffffff;
    }
    
    .btn-submit:hover {
        background-color: #0073b1;
        ;
        color: #fff;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    
    #footer {
        height: 100px;
        background: #444444;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    
    #footer p {
        text-align: center;
    }
    
    .footer-links a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 10px 10px;
        border-radius: 50%;
        background-color: #e6e3e3;
    }
    
    .footer-links {
        display: flex;
    }
    
    .footer-links i {
        color: #000000;
    }
    
    .footer-links a:hover,
    .a-links-bar a:hover {
        background-color: #000000;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        transition: all ease 0.5s;
    }
    
    .footer-links a:hover i,
    .a-links-bar a:hover i {
        color: #ffffff;
        transition: all ease 0.5s;
    }
    /* For Desktop and possibly tablet view */
    
    .footer-links a:hover,
    .a-links-bar a:hover {
        background-color: #0073b1;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        transition: all ease 0.5s;
    }
    
    .footer-links a:hover i,
    .a-links-bar a:hover i {
        color: #ffffff;
        transition: all ease 0.5s;
    }
    
    .a-links-bar {
        position: fixed;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        display: none;
    }
    
    .a-links-bar a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 0px;
        line-height: 0px;
        background-color: #ffffff;
        border: 1px solid #cbcbcb;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    }
    
    .a-links-bar i {
        color: #2b2b2b;
        font-size: 20px;
    }