* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* border: 1px solid red; */
}

html,
body {
    scroll-behavior: smooth;
    transition: all 0.7s ease;
    font-size: 16px;
}

.navbar {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 1;
    transition: .3s linear;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 1rem;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "welcome-section" "about-section" "portfolio-section" "contact-section" "footer-section";
    text-align: center;
}

.navbar .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 55px;
    height: 36px;
    margin: 10px 10px;
    opacity: 0;
    display: block;
}

.navbar .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 55px;
    height: 36px;
    margin: 10px 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hamburger line */

.navbar .hamburger>div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
}


/* Top and bottom lines */

.navbar .hamburger>div:before,
.navbar .hamburger>div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -8px;
    width: 100%;
    height: 3px;
    background-color: inherit;
}


/* Moves line down */

.navbar .hamburger>div:after {
    top: 8px;
}


/* Toggler animate */

.navbar .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* Turn lines into X */

.navbar .toggler:checked+.hamburger>div:before,
.navbar .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}


/* Rotate on hover when checked */

.navbar .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

.navbar .toggler:hover+.hamburger>div {
    background-color: #0073b1;
}


/* Show menu */

.navbar .toggler:checked~.menu {
    visibility: visible;
    transition: all .75s ease;
}

.navbar .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.navbar .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.navbar .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.navbar .menu>div {
    background: rgba(53, 59, 72, 0.90);
    border-radius: 50%;
    width: 210vw;
    height: 210vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.navbar .menu>div>div {
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.navbar .menu ul {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-template-rows: 75px 75px 75px 75px;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.navbar .nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-weight: 700;
    padding: 1.5rem 3rem;
    transition: all ease 0.5s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu .nav-link i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    transition: all ease 0.5s;
}


/* Icons not highlighting on hover and isnt apart of the block element */

.menu .nav-link:hover,
.menu .nav-link:hover i {
    color: #0073b1;
    transition: all ease 0.5s;
}


/* End of Navigation */

.welcome-section {
    grid-area: welcome-section;
    background: #313131;
    height: 100vh;
    /* background-size: cover; */
}

.welcome-section .inner-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* Main Content - Landing Page */

.welcome-section .content {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-template-rows: minmax(100px, 1fr);
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    margin-top: 2.2rem;
}

.welcome-section p:nth-child(1) {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
}

.welcome-section p:nth-child(2) span {
    font-size: 18px;
    display: block;
    line-height: 35px;
    text-align: center;
}

.welcome-section-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-section-links a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 1.2rem;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 500;
}

.welcome-section-links a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.welcome-section-links a:hover:nth-child(2) {
    background-color: #0073b1;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.welcome-section-links a:hover i {
    color: #ffffff;
    transition: all ease 0.5s;
}

.welcome-section .buttons a {
    display: inline-block;
    margin: 1rem 2rem;
    color: #000000;
    font-weight: 500;
    width: 180px;
    padding: 1rem 0;
    border-radius: 6px;
    transition: .2s linear;
    cursor: pointer;
    background-color: #ffffff;
}

.welcome-section .buttons a:hover {
    background-color: #0073b1;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease;
}


/* About Section */

.about-section {
    grid-area: about-section;
    background: linear-gradient(to left, #3d3d3d, #444444);
}

.about-section .inner-width,
.portfolio-section .inner-width,
.contact-section .inner-width {
    margin: 0 1.5rem;
}

.about-section .background-container {
    padding: 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section .background-container h2 {
    padding: 3rem 0 1rem;
    text-align: center;
}

.about-section .background-container p,
.portfolio-intro p {
    padding: 1rem 0;
    line-height: 35px;
    text-align: center;
}

.portfolio-section {
    background: #444;
    grid-area: portfolio-section;
}

.portfolio-section h2 {
    padding: 3rem 0 0.8rem;
    text-align: center;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 2rem;
    padding: 1rem 0 4rem;
}

.project-tile {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.project-container .project-tile h3 {
    color: #fff;
    padding: 1rem 0;
}

.project-container .project-tile p {
    padding: 0.5rem 1.5rem 1.3rem;
    line-height: 30px;
}

.project-container .project-tile h3 span {
    display: block;
    text-align: center;
}

.project-container .project-tile img {
    padding: 0 0 1rem;
    width: 80%;
    height: auto;
    transition: transform .7s;
}

.project-container .project-tile img:hover {
    transform: scale(1.08);
}

.project-container .project-tile .project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-container .project-tile .code,
.project-container .project-tile .demo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0.8rem;
    margin: 2rem 1rem;
    font-weight: 500;
    text-align: center;
    color: #000000;
    border-radius: 6px;
    transition: .2s linear;
    cursor: pointer;
    background-color: #ffffff;
}

.project-container .project-tile .code i,
.project-container .project-tile .demo i {
    padding-left: 15px;
    font-size: 14px;
    color: #000000;
}

.project-container .project-tile .code:hover,
.project-container .project-tile .demo:hover {
    background-color: #0073b1;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease;
}

.project-container .project-tile .code:hover i,
.project-container .project-tile .demo:hover i {
    color: #ffffff;
}

.contact-section {
    grid-area: contact-section;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left, #3d3d3d, #444444);
}

.contact-section h2 {
    color: #fff;
    padding: 0 0 3rem;
}

form {
    padding: 1rem 1rem 2rem;
    margin: 0 auto;
    width: 310px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.input-wrapper {
    height: 60px;
    position: relative;
    overflow: hidden;
}

.input-wrapper input {
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 15px;
    color: whitesmoke;
    line-height: 1.2px;
    padding: 25px 0 0;
    outline: none;
    border: none;
}

.input-wrapper label {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
}

.input-wrapper label::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: -2px;
    border-bottom: 2px solid #0073b1;
    transform: translateX(-100%);
    transition: all .6s ease;
}

.input-wrapper label span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all .6s ease;
}

.input-wrapper input:focus+label span,
.input-wrapper input:valid+label span {
    transform: translateY(-30px);
    transition: all .6s ease;
    color: #fff;
}

.input-wrapper input:focus+label::after,
.input-wrapper input:focus+label::after {
    transform: translateX(0%);
    transform: all .6s ease;
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0;
    padding: 0.6rem 0.8rem;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
    border: none;
    border-radius: 6px;
    transition: .2s linear;
    cursor: pointer;
    background-color: #ffffff;
}

.btn-submit:hover {
    background-color: #0073b1;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease;
}

.footer-section {
    grid-area: footer-section;
    height: auto;
    background: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.footer-section p {
    text-align: center;
}

.footer-links a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 50%;
    background-color: #e6e3e3;
}

.footer-links {
    display: flex;
}

.footer-links i {
    color: #000000;
}

.footer-links a:hover,
.a-links-bar a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.footer-links a:hover i,
.a-links-bar a:hover i {
    color: #ffffff;
    transition: all ease 0.5s;
}


/* For Desktop and possibly tablet view */

.footer-links a:hover,
.a-links-bar a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.footer-links a:hover:nth-child(2),
.a-links-bar a:hover:nth-child(2) {
    background-color: #0073b1;
}

.footer-links a:hover i,
.a-links-bar a:hover i {
    color: #ffffff;
    transition: all ease 0.5s;
}

.a-links-bar {
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    display: none;
}

.a-links-bar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.a-links-bar i {
    color: #2b2b2b;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 1.5rem;
        font-size: 25px;
    }
    .navbar .toggler {
        width: 70px;
        height: 65px;
        margin: 0.5rem 2rem;
    }
    .navbar .hamburger {
        width: 70px;
        height: 65px;
        margin: 0.7rem 2rem;
    }
    .navbar .hamburger>div:before,
    .navbar .hamburger>div:after {
        top: -11px;
    }
    .navbar .hamburger>div:after {
        top: 11px;
    }
    .navbar .menu ul {
        gap: 2rem;
    }
    .nav-link {
        font-size: 1.7rem;
    }
    .menu .nav-link i {
        padding-right: 3rem;
    }
    .welcome-section .content {
        gap: 2rem;
    }
    .welcome-section p:nth-child(1) {
        letter-spacing: 3px;
        font-size: 50px;
    }
    .welcome-section p:nth-child(2) span {
        font-size: 24px;
        line-height: 45px;
    }
    .welcome-section-links a {
        width: 65px;
        height: 65px;
        margin: 2rem;
        font-size: 1.7rem;
    }
    .welcome-section-links a:hover {
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
    }
    .welcome-section .buttons a {
        margin: 1.5rem 2.5rem;
        font-size: 20px;
        font-weight: 500;
        width: 240px;
        padding: 1.5rem 0;
    }
    .welcome-section .inner-width,
    .about-section .inner-width,
    .portfolio-section .inner-width,
    .contact-section .inner-width {
        margin: 0 2.5rem;
    }
    .about-section .background-container {
        padding: 0 1.5rem 3rem;
    }
    .about-section .background-container h2 {
        padding: 4rem 0 1.5rem;
        text-align: center;
        font-size: 28px;
    }
    .about-section .background-container p,
    .portfolio-intro p {
        font-size: 22px;
        line-height: 50px;
        text-align: start;
    }
    .portfolio-intro {
        padding: 0 2rem;
    }
    .portfolio-section h2 {
        padding: 4rem 0 1rem;
        text-align: center;
        font-size: 28px;
    }
    .project-container {
        gap: 4rem;
        padding: 2rem 1rem 2.5rem;
    }
    .project-tile {
        padding: 2rem 0 1rem;
    }
    .project-container .project-tile h3 {
        font-size: 25px;
        padding: 1rem 0 2rem;
    }
    .project-container .project-tile h3 span {
        display: block;
        text-align: center;
    }
    .project-container .project-tile p {
        padding: 1rem 3rem;
        font-size: 22px;
        line-height: 40px;
    }
    .project-container .project-tile img {
        padding: 2rem 0 1rem;
    }
    .project-container .project-tile .code,
    .project-container .project-tile .demo {
        padding: 1rem 1.5rem;
        margin: 2.5rem 2rem;
        font-size: 22px;
        font-weight: 500;
    }
    .project-container .project-tile .code i,
    .project-container .project-tile .demo i {
        padding-left: 30px;
        font-size: 22px;
    }
    .contact-section h2 {
        margin-bottom: 1rem;
        font-size: 28px;
        text-align: center;
    }
    form {
        width: 600px;
        padding: 1rem 2rem 2rem;
    }
    .input-wrapper {
        width: 100%;
        height: 75px;
        position: relative;
        overflow: hidden;
    }
    .input-wrapper input {
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 20px;
        color: whitesmoke;
        line-height: 1.2px;
        padding: 25px 0 0;
        outline: none;
        border: none;
    }
    .input-wrapper label {
        font-size: 20px;
    }
    .input-wrapper input:focus+label span,
    .input-wrapper input:valid+label span {
        transform: translateY(-38px);
        transition: all .6s ease;
        color: #fff;
    }
    .btn-submit {
        margin: 50px auto 0;
        padding: 1.2rem 2rem;
        font-size: 22px;
        font-weight: 500;
    }
    .footer-links a {
        width: 60px;
        height: 60px;
        margin: 2rem 3rem;
        font-size: 1.3rem;
    }
}

@media only screen and (min-width:1000px) {
    /* * {
        border: 1px solid red;
    } */
    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .navbar .inner-width {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
    }
    .navbar p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
        font-size: 1.2rem;
        grid-column: 1/2;
    }
    .hamburger,
    .toggler {
        display: none !important;
    }
    .navbar .menu,
    .navbar .menu>div,
    .navbar .menu>div>div {
        all: unset;
    }
    .navbar .menu ul {
        all: unset;
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 250px 250px 250px 250px;
        justify-content: flex-end;
        align-items: center;
        margin-right: 4rem;
    }
    .navbar .menu .nav-link {
        font-size: 1rem;
    }
    .welcome-section .content {
        gap: 2rem;
    }
    .welcome-section p:nth-child(1) {
        letter-spacing: 3px;
        font-size: 50px;
    }
    .welcome-section p:nth-child(2) span {
        font-size: 24px;
        line-height: 45px;
    }
    .welcome-section-links {
        display: none;
    }
    .welcome-section .buttons a {
        margin: 4rem 2rem;
        font-weight: 500;
        width: 240px;
        padding: 1.5rem 0;
        font-size: 22px;
    }
    .about-section .inner-width,
    .portfolio-section .portfolio-intro,
    .contact-section .inner-width {
        max-width: 1000px;
        margin: 0 auto;
        padding: 2rem 0rem 3rem;
    }
    .about-section .background-container p {
        padding: 1rem 0rem;
        line-height: 50px;
        text-align: start;
    }
    .project-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(200px auto) 400px minmax(300px, auto);
        grid-auto-rows: minmax(300px, auto);
        padding: 2rem 2rem;
        gap: 4rem 2rem;
        margin: 0 4rem;
    }
    .project-container .project-tile img {
        margin: 1rem auto 0;
        padding: 0 0 1rem;
        transition: transform .7s;
    }
    form {
        padding: 2rem 3rem 3rem;
    }
    .a-links-bar {
        display: block;
    }
    .footer-links a {
        width: 70px;
        height: 70px;
        margin: 2rem;
        font-size: 1.5rem;
    }
    .a-links-bar a {
        width: 85px;
        height: 85px;
    }
    .a-links-bar i {
        color: #2b2b2b;
        font-size: 26px;
    }
}