* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
  background-color: #24252a;
  color: #edf0f1;
}

p {
  margin: 0 auto;
  padding: 10px 10px 20px;
  text-align: center;
}

/* Mobile View */
#header {
  position: sticky;
  width: 100%;
  height: 5%;
  top: 0px;
  background-color: indigo;
}

#header #header-logo #header-img {
  display: flex;
  height: 85px;
  margin: 0 auto;
  padding: 10px 0;
  color: #edf0f1;
  text-decoration: none;
}
#header #nav-bar .menu {
  display: flex;
  flex-direction: row;
  padding: 0 3px 8px;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

#header #nav-bar .menu .nav-item {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
}

#header #nav-bar .menu .nav-item .nav-link {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  color: #edf0f1;
}

#header #nav-bar .menu .nav-item:hover {
  background-color: #edf0f1;
}

#header #nav-bar .menu .nav-item .nav-link:hover {
  color: indigo;
}

#main {
  margin: 30px 5px;
}

#form {
  display: flex;
  flex-flow: column;
}

#form #email {
  margin: 5px 30px 10px;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  border: 2px solid transparent;
  font-weight: 700;
}

#form #submit {
  justify-content: space-around;
  margin: 5px 30% 10px;
  padding: 10px 0;
  border-radius: 10px;
  border: 2px solid transparent;
  font-weight: 700;
  cursor: pointer;
}

#features {
  display: flex;
  flex-flow: column;
  margin: 40px 5px 20px;
}

#features #feature-details {
  text-align: center;
  padding: 10px 0;
}

#features #feature-details h2 {
  padding: 10px 0;
}

#video-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#video {
  height: 28vh;
}

#pricing-section {
  margin: 30px 0;
}

#pricing-section #beginners-package {
  margin: 30px;
  border-radius: 10px;
  border: 2px solid indigo;
}

#pricing-section #beginners-package h3 {
  padding-top: 15px;
  text-align: center;
}

#pricing-section #intermediate-package {
  margin: 30px;
  border-radius: 10px;
  border: 2px solid indigo;
}

#pricing-section #intermediate-package h3 {
  padding-top: 15px;
  text-align: center;
}

#pricing-section #intensive-package {
  margin: 30px;
  border-radius: 10px;
  border: 2px solid indigo;
}

#pricing-section #intensive-package h3 {
  padding-top: 15px;
  text-align: center;
}

#footer {
  margin: 40px 0 0;
  padding: 0 10px 20px;
}

#footer #footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 40px 20px;
}

#footer #footer-menu li a {
  color: #edf0f1;
  text-decoration: none;
}

/* Landscape Orientation 
    NOTE: Removing the below media query (max-height: 414px) results 
    in the header taking up most of the screen 
    when switching to landscape.
*/

@media only screen and (max-height: 414px) {
  #header {
    height: 70px;
  }
  #header #header-logo #header-img {
    margin: 5px 0;
    float: left;
    padding: 0 20px 0 20px;
    height: 60px;
  }
  #header #nav-bar .menu {
    margin: 15px 10px 5px 0px;
    float: left;
    width: 75%;
  }

  #video-wrapper {
    padding: 0 10%;
  }
  #video {
    height: 75vh;
    width: 100%;
  }
  #pricing-section {
    margin: 30px 40px;
  }
  #footer {
    margin: 40px 0 0;
    padding: 0 100px 20px;
  }
  #footer #footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 30px 20px;
  }
}

/* Tablet View */

@media only screen and (min-width: 768px) {
  #header {
    width: 100%;
    height: 130px;
  }
  #header #header-logo #header-img {
    margin: 5px 20px 0 20px;
    height: 125px;
    float: left;
  }

  #header #nav-bar .menu {
    margin: 50px 0;
    float: left;
    width: 70%;
  }

  #header #nav-bar .menu .nav-item .nav-link {
    align-items: center;
    padding: 10px 10px;
  }
  #main {
    margin: 45px 10px;
  }
  #form #email {
    margin: 5px 20% 10px;
  }
  #form #submit {
    margin: 5px 37% 10px;
  }
  #features {
    margin: 40px 10% 20px;
  }
  #video {
    width: 80vw;
    height: 35vh;
    margin: 10px 10px 20px 20px;
  }
  #pricing-section {
    margin: 30px 80px;
  }
  #footer {
    margin: 40px 20% 0;
    padding: 0 30px 20px;
  }
  #footer #footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 60px 20px;
  }
}

/* Desktop View */

@media only screen and (min-width: 1000px) {
  #header #header-logo #header-img {
    margin: 0 10px;
    height: 130px;
  }

  #header #nav-bar .menu {
    width: 80%;
    padding: 0;
    margin: 40px auto;
  }
  #header #nav-bar .menu .nav-item {
    margin: 0px 40px;
  }
  #header #nav-bar .menu .nav-item .nav-link {
    font-size: 18px;
    padding: 15px 30px;
  }
  #form {
    padding: 0 5%;
  }
  #main {
    margin: 20px 15px;
  }
  #form #email {
    margin: 20px 25vw 20px;
    font-weight: 700;
  }
  #form #submit {
    margin: 5px 42% 10px;
    font-weight: 700;
  }
  #video-wrapper {
    padding: 0 20%;
  }
  #video {
    height: 60vh;
  }
  #pricing-section {
    margin: 40px 20%;
  }
}
