* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 16px;
    color: #edf0f1;
}


/* Mobile View */

#header {
    position: sticky;
    width: 100%;
    top: 0px;
    background-color: #f5f5f5;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}

#header .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header #header-img {
    height: 60px;
    padding: 5px 0.5rem;
    color: #edf0f1;
    text-decoration: none;
}

#header a {
    text-decoration: none;
}

#header h4 {
    color: #2e303e;
    cursor: pointer;
}

#header #nav-bar .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: flex-end;
}

#header #nav-bar .menu .nav-item {
    width: 100%;
    text-align: center;
    border: 2px solid transparent;
}

#header #nav-bar .menu .nav-item .nav-link {
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    color: #2e303e;
    font-size: 14px;
}

#header #nav-bar .menu .nav-item .nav-link:hover {
    background-color: #2e303e;
    color: #edf0f1;
}

.landing-page {
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page img {
    height: 30%;
}

.landing-page h1 {
    padding: 1rem 2rem;
    color: #2e303e;
}

.contact-us {
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 1rem;
    background: #4a536b;
    color: #ff9a8d;
    cursor: pointer;
    text-decoration: none;
}

#benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: #aed6dc;
}

#benefits h2 {
    padding: 3rem 0 2.2rem;
}

#video {
    height: 42%;
}

#services {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: #ff9a8d;
    padding-bottom: 2rem;
}

#services h2 {
    padding-top: 6rem;
    text-align: center;
}

#services h3 {
    text-align: center;
}

#services p {
    padding: 1.5rem 1rem;
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 75vh;
    background: #aed6dc;
}

#contact h2 {
    text-align: center;
    padding: 3rem 0 2rem;
    font-size: 2rem;
    font-weight: 700;
}

#contact h4 {
    text-align: center;
    padding: 0 1.5rem 1.5rem;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form #email {
    text-align: center;
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 10px;
    border: 2px solid transparent;
    font-weight: 700;
}

#form #submit {
    margin: 1.5rem 0;
    padding: 0.8rem 1.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background: #4a536b;
    color: #ff9a8d;
    cursor: pointer;
}

#footer {
    padding: 1rem 1.5rem;
    background: #2e303e;
}

#footer #footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 40px 20px;
}

#footer #footer-menu li a {
    color: #edf0f1;
    text-decoration: none;
}

#footer p {
    text-align: center;
}


/* Landscape Orientation 
    NOTE: Removing the below media query (max-height: 414px) results 
    in the header taking up most of the screen 
    when switching to landscape.
*/

@media only screen and (max-height: 414px) {
    .landing-page h1 {
        padding: 1rem 5rem;
        text-align: center;
        color: #2e303e;
    }
    #benefits {
        height: 100vh;
    }
    #services {
        height: 180vh;
        padding: 2rem 0;
    }
    #contact {
        height: 100vh;
    }
    #footer {
        padding: 2rem 3rem;
    }
    #footer #footer-menu {
        margin: 1.5rem 2rem;
    }
}


/* Tablet View */

@media only screen and (min-width: 768px) {
    #header #header-img {
        height: 90px;
        padding: 1rem;
    }
    #header .header-container h4 {
        font-size: 1.7rem;
    }
    #header #nav-bar .menu .nav-item .nav-link {
        font-size: 1.3rem;
    }
    .landing-page img {
        height: 40%;
    }
    .landing-page h1 {
        padding: 4rem;
        font-size: 1.8rem;
        text-align: center;
    }
    .contact-us {
        font-size: 1.5rem;
    }
    #benefits {
        height: 80vh;
    }
    #benefits h2 {
        padding: 2rem 0 2.5rem;
        font-size: 1.8rem;
    }
    #video {
        height: 50%;
        width: 80%;
    }
    #services h2 {
        font-size: 1.8rem;
        padding-top: 6rem;
        text-align: center;
    }
    #services h3 {
        font-size: 1.5rem;
    }
    #services p {
        padding: 1rem 2rem;
        font-size: 1.3rem;
    }
    #contact {
        height: 55vh;
    }
    #contact h2 {
        padding: 5rem 0 2rem;
        font-size: 1.8rem;
    }
    #contact h4 {
        padding: 0 1.5rem 2.5rem;
        font-size: 1.3rem;
    }
    #form #email {
        padding: 1.3rem 7rem;
        font-size: 1rem;
    }
    #form #submit {
        margin: 2rem 0;
        padding: 1.2rem 4rem;
        font-size: 1.5rem;
    }
    #footer {
        padding: 2rem;
    }
    #footer #footer-menu {
        /* margin: 1rem 2rem; */
        padding: 1rem 0;
        justify-content: space-evenly;
    }
}


/* Desktop View */

@media only screen and (min-width: 1000px) {
    #header #header-img {
        height: 150px;
        padding: 1rem;
    }
    #header .header-container h4 {
        font-size: 2.5rem;
        padding: 1.5rem 0;
    }
    #header #nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header #nav-bar .menu {
        width: 80%;
    }
    #header #nav-bar .menu .nav-item .nav-link {
        font-size: 1.8rem;
    }
    .landing-page img {
        height: 40%;
    }
    .landing-page h1 {
        padding: 4rem;
        font-size: 2.7rem;
        text-align: center;
    }
    .contact-us {
        font-size: 1.5rem;
        padding: 1.5rem 2.2rem;
    }
    #benefits {
        height: 100vh;
    }
    #benefits h2 {
        padding: 2rem 0 3rem;
        font-size: 2.5rem;
    }
    #video {
        height: 50%;
        width: 50%;
    }
    #services h2 {
        font-size: 2.5rem;
        padding-top: 6rem;
        text-align: center;
    }
    #services h3 {
        font-size: 1.7rem;
    }
    #services p {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
    #contact {
        height: 55vh;
    }
    #contact h2 {
        padding: 5rem 0 2rem;
        font-size: 2.5rem;
    }
    #contact h4 {
        padding: 0 1.5rem 2.5rem;
        font-size: 1.4rem;
    }
    #form #email {
        padding: 1.3rem 10rem;
        font-size: 1.2rem;
    }
    #form #submit {
        margin: 2rem 0;
        padding: 1.2rem 4rem;
        font-size: 1.5rem;
    }
    #footer {
        padding: 2rem;
    }
    #footer ul li a,
    #footer p {
        font-size: 1.2rem;
    }
}