* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #005eb8;
}

#main #title {
    padding: 1rem;
}

#main #title strong i {
    font-size: 5rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

#img-div {
    width: 100%;
}

#image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#img-caption {
    padding: 1rem 0;
}

#img-caption p i span {
    display: block;
    text-align: center;
    padding: 0.3rem 0 0;
    font-size: 1rem;
}

#spacer {
    width: 90%;
    border: 1px solid whitesmoke;
}

#tribute-info h2 {
    padding: 30px 30px 20px;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: 1px;
}

#tribute-info p {
    padding: 0px 30px 20px;
    font-size: 16px;
    line-height: 30px;
}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #2f3331;
}

.timeline .timeline-header {
    padding: 1.7rem 1rem 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
}

.timeline-body {
    position: relative;
    margin-left: 4rem;
    margin-right: 1.5rem;
    list-style: none;
    padding: 2rem 0;
}

.timeline-body::after {
    content: '';
    width: 3px;
    height: 100%;
    background-color: #005eb8;
    position: absolute;
    left: 2px;
    top: 0;
}

.timeline .timeline-right {
    position: relative;
}

.timeline .timeline-right::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 4px solid #666666;
    background-color: white;
    position: absolute;
    left: -6px;
    top: 4px;
    z-index: 9;
}

.timeline-year {
    position: absolute;
    left: -42px;
    top: 3px;
    opacity: 0.5;
    font-size: 14px;
}

.content {
    margin: 20px 10px 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #666666;
    background-color: #2f3331;
}

.timeline .timeline-right .content h3 {
    font-weight: 600;
    margin-bottom: 7px;
    letter-spacing: 1px;
}

.timeline .timeline-right .content p {
    padding: 1rem 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    opacity: 0.7;
}

.timeline .timeline-source p {
    position: relative;
    padding: 2rem 1rem 0 1.2rem;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7;
}

.timeline .timeline-source p a {
    font-size: 14px;
}

#tribute-section {
    text-align: center;
    padding: 1rem 2rem;
}

#tribute-section p {
    font-size: 14px;
    line-height: 28px;
    opacity: 0.7;
}

#tribute-section p a {
    font-size: 14px;
}

#footer {
    width: 100%;
}

#footer p {
    padding: 30px 0 20px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #333333;
    height: auto;
}

@media only screen and (min-width: 768px) {
    #main #title {
        padding: 2rem;
    }
    #main #title strong i {
        font-size: 6rem;
    }
    #img-caption {
        padding: 1rem 0;
    }
    #img-caption p i span {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }
    #tribute-info h2 {
        padding: 30px 50px 20px;
        font-size: 2rem;
        line-height: 44px;
        letter-spacing: 1px;
    }
    #tribute-info p {
        padding: 20px 50px 0px;
        font-size: 24px;
        line-height: 45px;
    }
    .timeline .timeline-header {
        padding: 2.2rem 1rem 1.5rem;
        font-size: 2rem;
        letter-spacing: 2px;
    }
    .timeline-body {
        margin-left: 6rem;
        margin-right: 6rem;
        padding: 4rem 0;
    }
    .timeline-body::after {
        width: 4px;
        left: -2px;
    }
    .timeline .timeline-right::after {
        width: 13px;
        height: 13px;
        left: -10px;
    }
    .timeline-year {
        left: -60px;
        top: 0px;
        font-size: 18px;
    }
    .content {
        margin: 20px 10px 0 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #666666;
        background-color: #2f3331;
    }
    .timeline .timeline-right .content h3 {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 7px;
        letter-spacing: 1px;
    }
    .timeline .timeline-right .content p {
        padding: 1.5rem 0;
        font-weight: 400;
        line-height: 2;
        font-size: 17px;
    }
    .timeline .timeline-source p {
        position: relative;
        padding: 4rem 1.2rem 0 2.5rem;
        font-weight: 400;
        font-size: 17px;
        opacity: 0.7;
    }
    .timeline .timeline-source p a {
        font-size: 17px;
    }
    #tribute-section {
        text-align: center;
        padding: 2rem 0;
    }
    #tribute-section p {
        padding: 1rem 2rem;
        font-size: 20px;
        line-height: 28px;
    }
    #tribute-section p a {
        font-size: 20px;
    }
    #footer p {
        font-size: 20px;
        padding: 2rem 0;
    }
}

@media only screen and (min-width: 1000px) {
    #main #title {
        padding: 4rem;
    }
    #main #title strong i {
        font-size: 6rem;
    }
    #img-div {
        max-width: 100%;
    }
    #image {
        width: 60%;
        margin: 0 auto;
    }
    #img-caption {
        padding: 1rem 0;
        margin: 0 auto;
    }
    #img-caption p i span {
        font-size: 1.5rem;
        padding: 0.7rem 0;
        margin: 0 auto;
    }
    #tribute-info {
        padding: 4rem 0;
    }
    #tribute-info h2 {
        padding: 4rem 0 2rem 6rem;
        font-size: 3rem;
        line-height: 44px;
        letter-spacing: 1px;
    }
    #tribute-info p {
        padding: 2rem 8rem 2rem 6rem;
        font-size: 24px;
        line-height: 50px;
    }
    .timeline .timeline-header {
        padding: 4rem 1rem;
        font-size: 3rem;
        letter-spacing: 2px;
    }
    .timeline-body {
        padding: 4rem 0;
        width: 50%;
    }
    .timeline-body::after {
        width: 4px;
        left: -2px;
    }
    .timeline .timeline-right::after {
        width: 13px;
        height: 13px;
        left: -10px;
    }
    .timeline-year {
        left: -6rem;
        top: 0px;
        font-size: 1.4rem;
    }
    .content {
        margin: 30px 10px 0 60px;
        padding-bottom: 10px;
        border-bottom: 1px solid #666666;
        background-color: #2f3331;
    }
    .timeline .timeline-right .content h3 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 7px;
        letter-spacing: 1px;
    }
    .timeline .timeline-right .content p {
        padding: 1.5rem 0;
        font-weight: 400;
        line-height: 2;
        font-size: 1.3rem;
    }
    .timeline .timeline-source p {
        padding: 4rem 1.2rem 0 3.5rem;
        font-weight: 400;
        font-size: 20px;
        opacity: 0.7;
    }
    .timeline .timeline-source p a {
        font-size: 20px;
    }
    #tribute-section {
        text-align: center;
        padding: 2rem 0;
    }
    #tribute-section p {
        padding: 1rem 2rem;
        font-size: 20px;
        line-height: 28px;
    }
    #tribute-section p a {
        font-size: 20px;
    }
    #footer p {
        font-size: 20px;
        padding: 3rem 0;
    }
}